# Ignore third-party software
node_modules

# Ignore editor detritus
*~
*.sublime-project
*.sublime-workspace

# Don't commit sensitive information
src/server/config/database.json
src/server/config/security.json

# Don't commit release artifacts
release
